{% extends "bones.html" %}

{% block title %}Wine Party Registration{% endblock %}

{% block content %}
<h1>Wine Party Guest Registration</h1>

<form action="/taster/register/" method="post">
{% csrf_token %}

<p>Please provide the following information:</p>

<fieldset>
  <legend>Your party information</legend>
  <table cellspacing="0" cellpadding="3">
  <tbody valign="top">
  <tr>
    <td align="right"><label for="id_first-name">First Guest:</label></td>
    <td>{{firstform.name}}</td>
    <td>{{firstform.errors}}</td>
  </tr>
  <tr>
    <td align="right"><label for="id_second-name">Second Guest:</label></td>
    <td>{{secondform.name}} (Optional)</td>
    <td>{{secondform.errors}}</td>
  </tr>
  <tr>
  <td colspan="3" align="center"><button type="submit">Next (Register Wine)</button></td>
  </tr>
  </tbody>
  </table>
</fieldset>
</form>
<p><a href="/" >Oops. Back to Main Menu</a></p>
{% endblock %}
