{% extends "bones.html" %}
{% block title %} Vote! {% endblock %}
{% block content %}
<h1>Voting</h1>
<form method="post" action="">
<fieldset>
  <legend>Enter your votes and guesses</legend>
    <table>
    <tr>
    {% for thing in zipped_list %}
    {% with thing.0 as object %}
    {% with thing.1 as form %}
    <div>
    {{form.rating.errors}}
    {{form.styleguess.errors}}
    {{object}}{{form.rating}}{{form.styleguess}}
    </div>
    {% endwith %}
    {% endwith %}
    {% endfor %}
    </tr>
    </table>
    <p><button type="submit">Vote!</button>
<fieldset>
</form>
{% endblock %}
