{% extends "bones.html" %}
{% block title %} Vote! {% endblock %}
{% block content %}
<h1>Voting</h1>
<form method="post" action="">
<fieldset>
  <legend>Enter your votes and guesses</legend>
  <div id="votebox">
  <div id="redcontain">
  {% for wine in red_list %}
  {% with wine.0 as object %}
  {% with wine.1 as form %}
  <div>
  {{form.rating.errors}}
  {{form.styleguess.errors}}  
  {{object}}{{form.rating}}{{form.styleguess}}
  </div>
  {% endwith %}
  {% endwith %}
  {% endfor %}
  </div>
  <div id="whitecontain">
  {% for wine in white_list %}
  {% with wine.0 as object %}
  {% with wine.1 as form %}
  <div>
  {{form.rating.errors}}
  {{form.styleguess.errors}}  
  {{object}}{{form.rating}}{{form.styleguess}}
  </div>
  {% endwith %}
  {% endwith %}
  {% endfor %}
  </div>  
  </div>
  <button id="votebutton" type="submit">Vote!</button>
</fieldset>
</form>
{% endblock %}
